p {
    line-height: 1.5em;
}

h1 {
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background-color: #fff;
}

.capitalize {
    text-transform: uppercase;
}

.text-lg {
    font-size: 8rem;
}

.active {
    color: white;
    border-bottom: 3px solid #fff;
    padding-bottom: 13px;
}

.line {
    position: absolute;
    top: 50%;
    right: 40%;
    height: 2px;
    width: 200px;
    background-color: white;
}

.crew {
    margin-top: 2rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: flex-end;
}

.crew .text {
    padding-bottom: 6rem;
}

.crew .role {
    padding: 30px 0;
    font-size: 35px;
    font-weight: 500;
}

.crew .name {
    font-size: 40px;
}

.crew .bio {
    padding: 20px 0;
    font-size: 20px;
    line-height: 1.7em;
    font-weight: 300;
}

.crew .image {
    justify-self: flex-end;
    justify-items: flex-end;
    align-self: flex-end;
    width: 35.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: flex-end;
}

.crew .image img {
    width: 100%;
}

.page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.page-1 {
    background-image: url("../public/assets/home/background-home-desktop.jpg")
}

.page-2 {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg")
}

.page-3 {
    background-image: url("../public/assets/crew/background-crew-desktop.jpg");
}

.page-4 {
    background-image: url("../public/assets/technology/background-technology-desktop.jpg");
}


.swiper {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}

@media(max-width:800px) {

    .page-1 {
        background-image: url("../public/assets/home/background-home-tablet.jpg")
    }

    .page-2 {
        background-image: url("../public/assets/destination/background-destination-tablet.jpg")
    }

    .page-3 {
        background-image: url("../public/assets/crew/background-crew-tablet.jpg");
    }

    .page-4 {
        background-image: url("../public/assets/technology/background-technology-tablet.jpg");
    }
}



@media(max-width:600px) {

    .page-1 {
        background-image: url("../public/assets/home/background-home-mobile.jpg")
    }

    .page-2 {
        background-image: url("../public/assets/destination/background-destination-mobile.jpg")
    }

    .page-3 {
        background-image: url("../public/assets/crew/background-crew-mobile.jpg");
    }

    .page-4 {
        background-image: url("../public/assets/technology/background-technology-mobile.jpg");
    }


    .mobile {
        position: absolute;
        top: 4rem;
        right: 100vw;
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        z-index: 100;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .mobile.active {
        right: 0;
        transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .mobile ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .mobile ul li {
        margin: 20px 0
    }
}











@tailwind base;
@tailwind components;
@tailwind utilities